<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811088899049-m7r54kke6j0k8u0jsk50pvahgvpnsm0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811088899049-m7r54kke6j0k8u0jsk50pvahgvpnsm0n</string>
	<key>API_KEY</key>
	<string>AIzaSyDb8Wc-DC0NiImKoVYNw3k0pOJsT_wLQeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>811088899049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cesar.org.br.FireBaseDemo8</string>
	<key>PROJECT_ID</key>
	<string>fir-demo8-f4ded</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo8-f4ded.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811088899049:ios:58dc1f69f9b794693db978</string>
</dict>
</plist>